body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001f3f; /* Navy blue background */
    color: #ffffff; /* White text color for contrast */
}

header {
    background-color: #001f3f; /* Navy blue background */
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #002952; /* Slightly lighter navy for main content */
    border-radius: 10px;
}

h1, h2 {
    color: #ffffff; /* White color for headers */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 0px solid #000000; /* Black border for images */
    text-align: center;
    justify-content: center;
}

footer {
    background-color: #001f3f; /* Navy blue background */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}
